<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
  <div class="container">
    <header-comp></header-comp>
<!-- NAVBAR ENDS -->
      <section id="main_content" style="margin-top: -20px;">
          <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
              <div class="col-xs-12">
                  <h3>İŞ ARAYAN PROFİLİ</h3>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-xs-12">
                  <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> İs Arayan Profili</a>
              </div>
          </div>
          <div class="row text-center toogle" style="margin-top: 20px;">
            <div class="col-xs-12">
              <div class="btn-group btn-group-lg">
                <button type="button" href="#1a" data-toggle="tab" class="btn btn-default">PROFİL</button>
                <button type="button" href="#2a" data-toggle="tab" class="btn btn-default">YORUMLAR</button>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-10">
                  <div  class="register tab-content">
                      <div id="1a" class="tab-pane active">
                              <form class="row">
                                <div class="row" style="padding: 0px 15px; margin: 0px;" *ngIf="profile.data">
                                  <div class="col-xs-3 text-center">
                                      <img class="img img-responsive" src="{{profile.data[0].PHOTO_URL}}" onerror="this.src='/assets/images/resimyok.png';" style="width:200px; height:200px;">
                                  </div>
                                  <div class="col-xs-3"></div>
                                  <div class="col-xs-6">
                                    

                                  </div>
                                </div>
                                <div *ngIf="profile.data">
                                  <div class="col-xs-6" style="padding: 0px 50px;">
                                      <div class="form-group">
                                        <label for="formGroupExampleInput2">AD</label>
                                        <div class="">
                                          <p class="form-control-static">{{profile.data[0].NAME}}</p>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="formGroupExampleInput2">YAŞ</label>
                                        <div class="">
                                          <p class="form-control-static">{{profile.data[0].AGE}}</p>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="formGroupExampleInput2">ŞEHİR</label>
                                        <div class="">
                                          <p class="form-control-static">{{profile.data[0].CITY_NAME}}</p>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="formGroupExampleInput2">EĞİTİM DURUMU</label>
                                          <div class="">
                                            <p class="form-control-static">{{profile.data[0].EDUCATION_LEVEL}}</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="formGroupExampleInput2">BİRİNCİL MESLEK AÇIKLAMASI</label>
                                          <div class="">
                                            <p class="form-control-static">{{profile.data[0].PRIMARY_JOB_DESCRIPTION}}</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="formGroupExampleInput2">DİĞER MESLEK AÇIKLAMASI</label>
                                          <div class="">
                                            <p class="form-control-static">{{profile.data[0].SECONDARY_JOB_DESCRIPTION}}</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="formGroupExampleInput2">EHLİYET DURUMU</label>
                                          <div class="">
                                            <p class="form-control-static">{{profile.data[0].DRIVER_LICENSE}}</p>
                                          </div>
                                      </div>
                                      
                                      
                                  </div>
                                  <div class="col-xs-6" style="padding: 0px 50px;">
                                      
                                      <div class="form-group">
                                        <label for="formGroupExampleInput2">SOYAD</label>
                                        <div class="">
                                          <p class="form-control-static">{{profile.data[0].SURNAME.charAt(0)}}</p>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="formGroupExampleInput2">CİNSİYET</label>
                                          <div class="">
                                            <p class="form-control-static">{{profile.data[0].GENDER}}</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="formGroupExampleInput2">İLÇE</label>
                                          <div class="">
                                            <p class="form-control-static">{{profile.data[0].COUNTY_NAME}}</p>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                           <div class="col-xs-6"> 
                                              <label for="formGroupExampleInput2">BİRİNCİL MESLEK</label>
                                              <div class="">
                                                <p class="form-control-static">{{profile.data[0].PRIMARY_JOB}}</p>
                                              </div>
                                            </div>
                                            <div class="col-xs-6">
                                              <label for="formGroupExampleInput2">TECRUBE</label>
                                              <div class="">
                                                <p class="form-control-static">{{profile.data[0].WORKING_EXPERIENCE}}</p>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="formGroupExampleInput2">DİĞER MESLEK</label>
                                          <div class="">
                                            <p class="form-control-static">{{profile.data[0].SECONDARY_JOB}}</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="formGroupExampleInput2">ASKERLİK DURUMU</label>
                                          <div class="">
                                            <p class="form-control-static">{{profile.data[0].MILITARY_SERVICE_STATUS}}</p>
                                          </div>
                                      </div>
                                      
                                      
                                  </div>
                                </div>
                              </form>

                              
                              
                          </div>
                          <!-- YORUMLAR -->
                              <div id="2a" class="tab-pane yorumlar">
                                <div class="row text-center">
                                  <div class="col-xs-12" *ngIf="profile.data">
                                    <img style="margin-left: auto; margin-right: auto; width:40%;" class="img img-responsive" src="{{profile.data[0].PHOTO_URL}}" onerror="this.src='/assets/images/resimyok.png';">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-12 text-center">
                                    <h5><strong>Son 60 gün içerisinde çalıştığı işlere yapılan yorumlar aşağıda listelenmektedir</strong></h5>
                                  </div>
                                </div>
                                <div *ngIf="comments.data">
                                  <div class="row" *ngFor="let cmts of comments.data;">
                                    <div class="col-xs-12">
                                      <div class="row timel" style="padding: 10px 0px 0px 0px;">
                                        <div class="col-xs-6">
                                          <p><strong>{{cmts.REGISTERED_DATE}}</strong></p>
                                        </div>
                                          <div class="col-xs-4" style="float: right;">
                                            <p style="float: right;">{{cmts.COMPANY_NAME}}</p>
                                          </div>
                                        <div class="col-xs-6">
                                          <div class="ratings-widget" style="padding: 0px;">
                                            <div  style="float: right;">
                                                
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row yorum">
                                        <div class="col-xs-12">
                                          <h5>{{cmts.C_COMMENT}}</h5>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                

                              </div>
                              <div class="row text-center">
                                  <div class="col-xs-12" *ngIf="profile.data">
                                      <div class="btn-group">
                                        <a type="button" class="btn btn-default isveren" style="min-width: 100px;">VAZGEÇ</a>
                                        <a type="button" class="btn btn-default calisan" style="min-width: 100px;" (click)="checkCompanyForSMS(profile.data[0])">SMS GÖNDER</a>
                                      </div>
                                  </div>
                              </div>
                  </div>
                  
              </div>
              <div class="col-xs-1"></div>
          </div>
      </section>
    </div>
  </div>

  <div id="mmodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="text-align: center;font-weight: 900;">Sepet Uyarısı</h4>
            </div>
            <div class="modal-body">
                <h4 style="line-height: 1.5; text-align: center; word-spacing: 2px;" *ngIf="sepetExistMessage">{{sepetExistMessage}}</h4>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                  <div class="col-xs-12">
                      <div class="btn-group">
                        <a type="button" class="btn btn-default isveren" style="min-width: 100px;" data-dismiss="modal">VAZGEÇ</a>
                        <a type="button" class="btn btn-default calisan" style="min-width: 100px;" (click)="addToExistingSepet()" data-dismiss="modal">EKLE</a>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>