<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
    <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
        <div class="col-xs-12">
            <h3>SIFRE SIFIRLA</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> Sifre Sifirla</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="login">
                <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="formGroupExampleInput"><h4>E-POSTA</h4></label>
                    <input type="email" class="form-control" id="formGroupExampleInput" placeholder="E-Mail" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                  </div>
                  
                  <div class="row text-center">
                    <div class="col-xs-12">
                        <a (click)="reset()"  class="btn btn-default" style="background: #fff100; border-color:#fff100; min-width:150px;"><h5>SIFREMI SIFIRLA</h5></a>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                    <div class="col-xs-12">
                        <h5 style="font-size: 12px; color: #747574;">Henuz kayit olmadiysaniz burdan <a href="" style="text-decoration: none;"><strong>Kayit Olun</strong></a></h5>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
</section>
	</div>
</div>


<!-- Modal -->
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#ActivatedModal">Open Modal</button>
<div id="ActivatedModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Şifremi Unuttum</h4>
      </div>
      <div class="modal-body">
        <p>vermiş olduğunuz mail adresine şifre sıfırlama linki gönderilmiştir. Lütfen kontrol ediniz.</p>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <div class="btn-group">

          <a type="button" class="btn btn-default calisan" style="min-width: 100px;" routerLink="/home" data-dismiss="modal" data-dismiss="modal">TAMAM</a>
        
        </div>
      </div>
    </div>

  </div>
</div>

<footer-comp></footer-comp>
