<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
    <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
        <div class="col-xs-12">
            <h3>İŞVEREN KAYIT</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> İşveren Kayıt</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="register">
                
                        <form class="row" #f="ngForm"  novalidate>
                            <div class="row" style="padding: 0px 15px; margin: 0px;">
                                <div class="col-xs-3 text-center">
                                    
                                </div>
                            </div>
                          <div class="col-xs-6" style="padding: 0px 50px;">
                              <div class="form-group">
                                <label for="formGroupExampleInput">FİRMA / KİŞİ ADI</label>
                                <input name="firma"  [(ngModel)]="firma" #firm="ngModel" type="text" class="form-control" id="formGroupExampleInput" placeholder="Firma Adı / Kişi Adı" required>
                                <div *ngIf="firm.errors && (firm.dirty || firm.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!firm.errors.required">
                                    Firma Adi Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">YETKİLİ KİŞİ</label>
                                <input name="yetkili" [(ngModel)]="yetkili" required #yetkil="ngModel" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Yetkili Kişi">
                                <div *ngIf="yetkil.errors && (yetkil.dirty || yetkil.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!yetkil.errors.required">
                                    Yetkili Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">E-POSTA</label>
                                <input name="eposta" [(ngModel)]="eposta" required #epost="ngModel" type="email" class="form-control" id="formGroupExampleInput2" placeholder="E-Posta">
                                <div *ngIf="epost.errors && (epost.dirty || epost.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!epost.errors.required">
                                    E-Posta Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">VERGİ DAİRESİ</label>
                                <input name="vergi" [(ngModel)]="vergi"  required #verg="ngModel" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Vergi Dairesi">
                                <div *ngIf="verg.errors && (verg.dirty || verg.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!verg.errors.required">
                                    Vergi Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="dropdown">
                                    
                                  <label for="">ŞEHİR</label>
                                  <select id="" class="form-control" [ngModel]="sd" (ngModelChange)="onChange($event)" name="sel2">
                                    <option  *ngFor="let city of cities.data" [value]="city.CITY_ID">{{city.CITY_NAME}}</option>
                                  </select>
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <label for="formGroupExampleInput2">PAROLA</label>
                                <input name="parola" [ngModel]="parola" required #parol="ngModel" type="password" class="form-control" id="formGroupExampleInput2" placeholder="Parola">
                              </div>
                              <div *ngIf="parol.errors && (parol.dirty || parol.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!parol.errors.required">
                                    Parola Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              <div class="form-group">
                                <label class="form-check-label txt">
                                  <input class="form-check-input" type="checkbox" style="font-size:600px;" name="sozles" [(ngModel)]="sozles"> <a href="https://www.cepteisvar.com/agreements/hizmet.html" target="_blank">Hizmet Sözleşmesi</a> , <a href="https://www.cepteisvar.com/agreements/guvenlik.html" target="_blank">Gizlilik ve Güvenlik Politikası</a> ve <a href="https://www.cepteisvar.com/agreements/mesafeli.html" target="_blank">Mesafeli Satış Sözleşmesi'ni</a> onayliyorum.
                                </label>
                                <div *ngIf="sozlesmeerror" class="alert alert-danger" style="margin-top: 5px;">
                                  <div >
                                    Güvenlik Sözleşmesini Kabul Etmelisiniz!
                                  </div>
                                </div>                          
                              </div>
                          </div>
                          <div class="col-xs-6" style="padding: 0px 50px;">
                              <div class="form-group">
                                <label for="formGroupExampleInput">TELEFON</label>
                                <input name="telefon" [(ngModel)]="telefon" required #tel="ngModel" type="number" class="form-control" id="formGroupExampleInput" placeholder="Telefon">
                                <div *ngIf="tel.errors && (tel.dirty || tel.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!tel.errors.required">
                                    Telefon Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">YETKİLİ KİŞİ TELEFON</label>
                                <input name="yettel" [(ngModel)]="yettel" required #yet="ngModel" type="number" class="form-control" id="formGroupExampleInput2" placeholder="Yetkili Kişi Telefon">
                                <div *ngIf="yet.errors && (yet.dirty || yet.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!yet.errors.required">
                                    Yetkili Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">VERGİ / TC KİMLİK NO</label>
                                <input name="tckimlik" [(ngModel)]="tckimlik" required #tckim="ngModel" type="number" class="form-control" id="formGroupExampleInput2" placeholder="TC Kimlik No">
                                <div *ngIf="tckim.errors && (tckim.dirty || tckim.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!tckim.errors.required">
                                    Vergi Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">ADRES</label>
                                <input name="address" [(ngModel)]="address" required #adres="ngModel" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Adres">
                                <div *ngIf="adres.errors && (adres.dirty || adres.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!adres.errors.required">
                                    Adres Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="dropdown">
                                  <label for="" >İLÇE</label>
                                  <select id="" class="form-control" name="cname" [ngModel]="cname">
                                    <option  *ngFor="let st of ct.data" [value]="st.COUNTY_ID">{{st.COUNTY_NAME}}</option>
                                   
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">PAROLA TEKRAR</label>
                                <input name="parola2" [(ngModel)]="parola2" required #partwo="ngModel" type="password" class="form-control" id="formGroupExampleInput2" placeholder="Parola Tekrar">
                                <div *ngIf="partwo.errors && (partwo.dirty || partwo.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!partwo.errors.required">
                                    Parola Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                          </div>
                          <div class="row text-center" >
                            <div class="col-xs-12">
                                <button (click)="onSubmit(f)" class="btn btn-default" style="background: #fff100; border-color: #fff100; padding: 10px 50px;" data-toggle="modal" data-target="#somemod" [disabled]="!f.form.valid">KAYIT OL</button>
                                <h5 style="color: #747574;">Zaten hesabınız var mı?<a class="btn btn-default" style="border:none; background: #f7f7f7; color: blue;" routerLink="/isveren-giris">Giriş Yapın</a></h5>  
                            </div>
                          </div>
                        </form>

                        
                    
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</section>
	</div>
</div>


<!-- Modal -->
<div id="somemod" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">CEP TELEFONU DOGRULAMA</h4>
      </div>
      <div class="modal-body">
        <p>Cep Telefonu numaranızda değişiklik yapmak istediğiniz için yeni numaranızı
        doğrulamanız gerekmektedir. Lütfen vermiş olduğunuz yeni telefona gönderilen 
        kodu aşağıdaki bölüme giriniz.</p>
        <form #kod="ngForm"  novalidate>
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label" style="margin-top: 5px;">KOD:</label>
            <div class="col-xs-8">
              <input class="form-control" type="text" name="validatekod" [ngModel]="validatekod" placeholder="Kodu giriniz" style="border-radius:0px;">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <div class="btn-group">

          <a type="button" class="btn btn-default isveren" style="min-width: 100px;" data-dismiss="modal">VAZGEÇ</a>
          <a type="button" class="btn btn-default calisan" style="min-width: 100px;" data-dismiss="modal" (click)="validate(kod)">GÖNDER</a>
        
        </div>
      </div>
    </div>

  </div>
</div>
<footer-comp></footer-comp>