
<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
		    <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
		        <div class="col-xs-12">
		            <h3>DUYURULAR</h3>
		        </div>
		    </div>
		    <div class="row text-center">
		        <div class="col-xs-12">
		            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> Duyurular</a>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-8 mediacenter" style="padding: 20px 50px 20px 30px;">
		    		<div id="news" class="row list-group" *ngIf="news.data">
		    			<ul class="row list">
		    			<li *ngFor="let nws of news.data;"><div class="col-xs-12" >
		    			  <!-- Left-aligned media object -->
						  <div class="media">
						    <div class="media-left">
						      <img src="{{nws.PHOTO_URL}}" onerror="this.src='assets/images/Employee1.png';" class="media-object" style="">
						    </div>
						    <div class="media-body">
						      <h4 class="media-heading">{{nws.HEADER}}</h4>
						      <p>{{nws.BODY}}</p>
						      <a [routerLink]="['/duyuru', nws.HABER_ID]"><p>Devamini Oku<span style="margin-left: 5px;"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></span></p></a>
						    </div>
						  </div>
		    			</div></li>
		    			
		    		</ul>
		    		<ul class="col-xs-12 pagination" style="padding-left: 40%;"></ul>
		    		</div>
		    	</div>
		    	<!-- RIGHT SIDE -->
		    	<div class="col-xs-4" style="margin-top: 20px; padding: 0px 80px 0px 0px;" >
				<duyurular-rightside-comp></duyurular-rightside-comp>
			    	
		    	</div>
		    </div>
		</section>
	</div>
</div>

<footer-comp></footer-comp>