<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
		    <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
		        <div class="col-xs-12">
		            <h3>DUYURU</h3>
		        </div>
		    </div>
		    <div class="row text-center">
		        <div class="col-xs-12">
		            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> Duyuru</a>
		        </div>
		    </div>
		    <div class="row duyuruitem">
		    	<div class="col-xs-8" style="padding: 20px 50px 20px 30px;" *ngIf="new.data">
		    		<img class="img img-responsive" src="assets/images/Blogbanner.png">
		    		<div class="jumbotron">
		    			<div class="container-fluid">
		    				<h3><strong>{{new.data[0].HEADER}}</strong></h3>
		    				<p class="long">{{new.data[0].BODY}}</p>
		    				<div  class="long-inner">
		    					<p>
		    						{{new.data[0].DETAILS}}
		    					</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="row info">
		    			<div class="col-xs-12">
		    				<div class="left-div">
		    					<h6>Ekleyen:<span>Admin</span></h6>
		    				</div>
		    				<div class="right-div">
		    					<i class="fa fa-eye"></i>
		    					<span>632 Okunma</span>
		    					<i class="fa fa-eye"></i>
		    					<span>27 Yorum</span>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-xs-12">
		    				<h3><strong>YORUMLAR</strong></h3>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-xs-12">
		    				<div class="media">
							  <div class="media-left">
							    <img src="assets/images/Employee1.png" class="media-object img img-circle" style="width:60px">
							  </div>
							  <div class="media-body row">
							    <h4 class="media-heading">John Doe</h4>
							    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							    <div class="col-xs-12" style="margin-top: 10px; padding: 0px;">
							    	<div style="float:left;">
							    		<i class="fa fa-eye"></i>
							    		<span>Cevapla</span>
							    	</div>
							    	<div style="float:right;">
							    		<i class="fa fa-eye"></i>
							    		<span>5 dakika once</span>
							    	</div>
							    	<hr>
							    </div>

							  </div>
							</div>
							<!-- -->
							<div class="media">
							  <div class="media-left">
							    <img src="assets/images/Employee1.png" class="media-object img img-circle" style="width:60px">
							  </div>
							  <div class="media-body row">
							    <h4 class="media-heading">John Doe</h4>
							    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							    <div class="col-xs-12" style="margin-top: 10px; padding: 0px;">
							    	<div style="float:left;">
							    		<i class="fa fa-eye"></i>
							    		<span>Cevapla</span>
							    	</div>
							    	<div style="float:right;">
							    		<i class="fa fa-eye"></i>
							    		<span>5 dakika once</span>
							    	</div>
							    	<hr>
							    </div>

							  </div>
							</div>
							<!-- -->						
		    			</div>
		    			<div class="col-xs-12" >
		    				<h4>YORUM EKLE</h4>
		    				<form style="background: #f7f7f7; padding: 20px 50px;">

								<div class="form-group row"> <!-- Name field -->
									<div class="col-xs-6">
										<label class="control-label " for="name">ADINIZ SOYADINIZ</label>
										<input class="form-control" id="name" name="name" type="text"/>
									</div>
									<div class="col-xs-6">
										<label class="control-label " for="subject">E-POSTA</label>
										<input class="form-control" id="subject" name="subject" type="text"/>
									</div>
								</div>
								
								<div class="form-group"> <!-- Message field -->
									<label class="control-label " for="message">YORUM</label>
									<textarea class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
								</div>
								
								<div class="form-group text-center">
									<a class="btn btn-default isveren" name="submit" type="submit">VAZGEC</a>
									<a class="btn btn-default calisan" name="submit" type="submit">KAYDET</a>
								</div>
								
							</form>	
		    			</div>
		    		</div>
		    		<!-- FORM STARTS HERE -->
		    		<div class="row">
		    			<div class="col-xs-12">

		    			</div>
		    		</div>
		    	</div>
		    	<div class="col-xs-4" style="margin-top: 20px; padding: 0px 80px 0px 0px;">
		    		<duyurular-rightside-comp></duyurular-rightside-comp>
		    	</div>
		    </div>
		</section>
	</div>
</div>

<footer-comp></footer-comp>