<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
    <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
        <div class="col-xs-12">
            <h3>ÇALIŞAN KAYIT</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> Çalışan Kayıt</a>
        </div>
    </div>
    <!-- MESSAGE SERVICE -->
    <div class="alert alert-success" *ngIf="operation.status">
      <strong>{{operation.status}}!</strong>&nbsp;&nbsp;{{operation.text}}
    </div>
    <div class="alert alert-danger" *ngIf="operationfault.status">
      <strong>{{operationfault.status}}!</strong>&nbsp;&nbsp; {{operationfault.text}}
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <form #f="ngForm"  novalidate>
            <div class="register">
                
                        <form class="row" #f="ngForm"  novalidate>
                          <div class="row" style="padding: 0px 15px; margin: 0px;">
                            <div class="col-xs-3 text-center">
                                
                            </div>
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6">
                              

                            </div>
                        </div>
                          <div class="col-xs-6" style="padding: 0px 50px;">
                              <div class="form-group">
                                <label for="formGroupExampleInput">AD</label>
                                <input type="text" [ngModel]="isim" name="isim" class="form-control" id="formGroupExampleInput" placeholder="Adınızı Giriniz" #ad="ngModel" required pattern="^[a-zA-Z]*$">
                                <div *ngIf="ad.errors && (ad.dirty || ad.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!ad.errors.required">
                                    Ad Boş Bırakılamaz!
                                  </div>
                                  <div [hidden]="!ad.errors.pattern">
                                    Ad Hanesi Harflerden Oluşmalıdır!
                                  </div>
                                  
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <label for="formGroupExampleInput2">DOĞUM TARİHİ</label>
                                <input type="date" [ngModel]="dtarihi" name="dtarihi" class="form-control" id="formGroupDate" #dtarih="ngModel" required>
                                <div *ngIf="dtarih.errors && (dtarih.dirty || dtarih.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!dtarih.errors.required">
                                    Doğum Tarihi Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">TELEFON NUMARASI</label>
                                <input type="text" [ngModel]="contact" name="contact" class="form-control" id="formGroupExampleInput2" placeholder="Telefon Numarası" #cont="ngModel" required minlength="10" maxlength="10" pattern="[0-9]*">
                                <div *ngIf="cont.errors && (cont.dirty || cont.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!cont.errors.required">
                                    Telefon Boş Bırakılamaz!
                                  </div>
                                  <div [hidden]="!cont.errors.minlength">
                                    Telefon 10 haneli olmalidir!  <small><b>(Örn:5xxxxxxxxx)</b></small>
                                  </div>
                                  
                                  <div [hidden]="!cont.errors.pattern">
                                    Telefon hanesi sayılardan oluşmalıdır!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">E-POSTA</label>
                                <input type="email" name="eposta" [ngModel]="eposta" class="form-control" id="formGroupExampleInput2" placeholder="E-Posta" #eps="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                <div *ngIf="eps.errors && (eps.dirty || eps.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!eps.errors.required">
                                    E-Posta Boş Bırakılamaz!
                                  </div>
                                  <div [hidden]="!eps.errors.pattern">Email format gösterildiği şekilde olmalıdır. 
                                    <small><b>joe@abc.com</b></small>
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                  <div class="">
                                    <label for="">ŞEHİR</label>
                                    <select id="" name="sd" class="form-control" [ngModel]="sd" (ngModelChange)="onChange($event)" required>
                                      <option  *ngFor="let city of cities.data" [value]="city.CITY_ID">{{city.CITY_NAME}}</option>
                                    </select>
                                  </div>
                              </div>
                              <div class="form-group">
                                <div class="">
                                    <label for="">İŞ KATEGORİNİZ</label>
                                    <select id="" name="jobcat" class="form-control" [ngModel]="is" (ngModelChange)="onJobChange($event)" required>
                                      <option  *ngFor="let jbct of jobcategory.data" [value]="jbct.CATEGORY_ID">{{jbct.CATEGORY_NAME}}</option>
                                    </select>
                                </div>
                              </div>
                              <div class="form-group row">
                                   <div class="col-xs-6"> 
                                      <div class="">
                                        <label for="">BİRİNCİL MESLEK</label>
                                        <select id="" class="form-control" name="meslek" [ngModel]="meslek" required>
                                          <option  *ngFor="let jbs of jobs.data" [value]="jbs.ID">{{jbs.JOB_NAME}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="formGroupExampleInput2">TECRÜBE</label>
                                        <!--<div class="">
                                          <input type="text" class="form-control" id="firma" name="tecrube" [ngModel]="tecrube" [value]="profile.data[0].WORKING_EXPERIENCE" required>
                                        </div>-->
                                        <div class="">
                                          <select id="" class="form-control" name="tecrube" [ngModel]="tecrube" required>
                                            
                                            <option value="0-3 YIL">0-3 YIL</option>
                                            <option value="3-5 YIL">3-5 YIL</option>
                                            <option value="5-10 YIL">5-10 YIL</option>
                                            <option value="10+ YIL">10+ YIL</option>
                                          </select>
                                        </div>
                                    </div>
                              </div>
                              <div class="form-group">
                                <div class="">
                                  <label for="">ASKERLİK DURUMU</label>
                                  <select id="" class="form-control" name="askerlik" [ngModel]="askerlik" required>
                                    <option *ngFor="let mlt of military.data" [value]="mlt.TYPE">{{mlt.STATUS}}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">PAROLA</label>
                                <input type="password" name="parola" [ngModel]="parola" class="form-control" id="formGroupExampleInput2" placeholder="Parola" #par="ngModel" required minlength="6">
                                <div *ngIf="par.errors && (par.dirty || par.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!par.errors.required">
                                    Parola Boş Bırakılamaz!
                                  </div>
                                  <div [hidden]="!par.errors.minlength">
                                    Parola en az 6 haneli olmalidir!
                                  </div>
                                  
                                </div>
                                <div *ngIf="parolaerror" class="alert alert-danger" style="margin-top: 5px;">
                                  <div >
                                    Parolalar Eşleşmedi!
                                  </div>
                                </div>

                              </div>

                              <div class="form-group txt">
                                <label class="form-check-label" style="display: none;">
                                  <input class="form-check-input" [ngModel]="gizlilik" type="checkbox" style="font-size:600px; " name="gizlilik" > SMS Almak İstemiyorum.
                                </label>
                              </div>
                              <div class="form-group txt">
                                <label class="form-check-label">
                                  <input class="form-check-input" name="secenek" [ngModel]="secenek" type="checkbox" style="font-size:600px;" > Profilimin CepteIşVar anasayfasında <strong>"Kimler İş Arıyor"</strong> bölümünde gösterilmesini istiyorum. 
                                </label>
                                <div class="form-group">
                                  <label class="form-check-label">
                                    <input name="certificate" [ngModel]="certificate" class="form-check-input" type="checkbox" style="font-size:600px;"> Mesleki Yeterlilik Sertifikam var ve gerektiğinde işverenime sunabilirim.
                                  </label>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="form-check-label txt">
                                  <input class="form-check-input" type="checkbox" style="font-size:600px;" name="sozles" [(ngModel)]="sozles"> <a href="https://www.cepteisvar.com/agreements/hizmet.html" target="_blank">Hizmet Sözleşmesi</a> , <a href="https://www.cepteisvar.com/agreements/guvenlik.html" target="_blank">Gizlilik ve Güvenlik Politikası'nı</a> onaylıyorum.
                                </label>
                                
                                <div *ngIf="sozlesmeerror" class="alert alert-danger" style="margin-top: 5px;">
                                  <div >
                                    Güvenlik Sözleşmesini Kabul Etmelisiniz!
                                  </div>
                                </div>

                                
                              </div>
                              
                          </div>
                          <div class="col-xs-6" style="padding: 0px 50px;">
                              <div class="form-group">
                                <label for="formGroupExampleInput">SOYAD</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" [ngModel]="soyad" placeholder="Soyadınızı Giriniz" name="soyad" #soad="ngModel" required pattern="^[a-zA-Z]*$">
                                <div *ngIf="soad.errors && (soad.dirty || soad.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!soad.errors.required">
                                    Soyad Boş Bırakılamaz!
                                  </div>
                                  <div [hidden]="!soad.errors.pattern">
                                    Soyad Hanesi Harflerden Oluşmalıdır!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="">
                                  <label for="">CİNSİYET</label>
                                  <select id="" class="form-control" name="cinsiyet" [ngModel]="cinsiyet" required>
                                    <option  *ngFor="let gndr of genders.data" [value]="gndr.TYPE_ID">{{gndr.GENDER}}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">ADRES</label>
                                <input type="text" name="adres" class="form-control" [ngModel]="adres" id="formGroupExampleInput2" placeholder="Adres" #res="ngModel" required>
                                <div *ngIf="res.errors && (res.dirty || res.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!res.errors.required">
                                    Adres Boş Bırakılamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="">
                                  <label for="">EĞİTİM DURUMU</label>
                                  <select id="" class="form-control" name="educate" [ngModel]="educate" required>
                                    <option *ngFor="let edu of education.data" [value]="edu.TYPE_ID">{{edu.EDUCATION_LEVEL}}</option>
                                    
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="">
                                  <label for="">İLÇE</label>
                                  <select id="" class="form-control" name="ilce" [ngModel]="ilce" required>
                                    <option  *ngFor="let st of ct.data" [value]="st.COUNTY_ID">{{st.COUNTY_NAME}}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="">
                                    <label for="">İŞ KATEGORİNİZ</label>
                                    <select id="" name="digercat" class="form-control" [ngModel]="digercat" (ngModelChange)="onJobChangeDiger($event)">
                                      <option  *ngFor="let jbct of jobcategory.data" [value]="jbct.CATEGORY_ID">{{jbct.CATEGORY_NAME}}</option>
                                    </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="">
                                  <label for="">DİĞER MESLEK</label>
                                  <select id="" class="form-control" name="meslek2" [ngModel]="meslek2">
                                    <option [value]="0">Seciniz</option>
                                    <option  *ngFor="let jbs of digerjobs.data" [value]="jbs.ID">{{jbs.JOB_NAME}}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="">
                                  <label for="formGroupExampleInput2">EHLİYET DURUMUNUZ</label>
                                  <select id="" class="form-control" name="ehliyet" [ngModel]="ehliyet" required>
                                      <option *ngFor="let drv of driver.data" [value]="drv.ID">{{drv.LICENSE_TYPE}}</option>
                                      
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">PAROLA TEKRAR</label>
                                <input type="password" name="parola2" [ngModel]="parola2" class="form-control" id="formGroupExampleInput2" placeholder="Parolanızı Tekrar Giriniz" #par2="ngModel" required minlength="6">
                                <div *ngIf="par2.errors && (par2.dirty || par2.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!par2.errors.required">
                                    Parola Boş Bırakılamaz!
                                  </div>
                                  <div [hidden]="!par2.errors.minlength">
                                    Parola en az 6 haneli olmalidir!
                                  </div>
                                  
                                </div>
                              </div>
                          </div>
                          
                        </form>

                        <div class="row text-center">
                            <div class="col-xs-12">
                                <button (click)="onSubmit(f)" class="btn btn-default" style="background: #fff100; border-color: #fff100; padding: 10px 50px;" [disabled]="!f.form.valid">KAYIT OL</button>
                                <h5 style="color: #747574;">Zaten hesabınız var mı?<a class="btn btn-default" style="border:none; background: #f7f7f7; color: blue;" routerLink="/calisan-giris">Giriş Yapın</a> </h5> 
                            </div>
                        </div>
                    
            </div>
          </form>
        </div>
        <div class="col-xs-1"></div>
    </div>
</section>
	</div>
</div>

<!-- Modal -->
<div id="somemod" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">CEP TELEFONU DOĞRULAMA</h4>
      </div>
      <div class="modal-body">
        <p>Cep Telefonu numaranızda değişiklik yapmak istediğiniz için yeni numaranızı
        doğrulamanız gerekmektedir. Lütfen vermiş olduğunuz yeni telefona gönderilen 
        kodu aşağıdaki bölüme giriniz.</p>
        <form #kod="ngForm"  novalidate>
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label" style="margin-top: 5px;">KOD:</label>
            <div class="col-xs-8">
              <input class="form-control" type="text" name="validatekod" [ngModel]="validatekod" placeholder="Kodu giriniz" style="border-radius:0px;">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <div class="btn-group">

          <a type="button" class="btn isveren" style="min-width: 100px;" data-dismiss="modal">VAZGEÇ</a>
          <a type="button" class="btn calisan" style="min-width: 100px;" data-dismiss="modal" (click)="validate(kod)">GÖNDER</a>
        
        </div>
      </div>
    </div>

  </div>
</div>


<footer-comp></footer-comp>