<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
    <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
        <div class="col-xs-12">
            <h3>IS ARAYAN KAYIT</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> Is Arayan Kayit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <form #f="ngForm"  novalidate>
            <div class="register">
                
                        <form class="row" #f="ngForm"  novalidate>
                          <div class="row" style="padding: 0px 15px; margin: 0px;">
                            <div class="col-xs-3 text-center">
                                
                            </div>
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6">
                              <div class="form-group txt">
                                <label class="form-check-label">
                                  <input class="form-check-input" name="secenek" [ngModel]="secenek" type="checkbox" style="font-size:600px;" > Profilimin CepteIsVar anasayfasinda <strong>"Kimler Is Ariyor"</strong> bolumunde gosterilmesini istiyorum. 
                                </label>
                                <div class="form-group">
                                  <label class="form-check-label">
                                    <input name="certificate" [ngModel]="certificate" class="form-check-input" type="checkbox" style="font-size:600px;"> Mesleki Yeterlilik Sertifikam var ve gerektiginde isverenime sunabilirim.
                                  </label>
                                </div>
                              </div>

                            </div>
                        </div>
                          <div class="col-xs-6" style="padding: 0px 50px;">
                              <div class="form-group">
                                <label for="formGroupExampleInput">AD</label>
                                <input type="text" [ngModel]="isim" name="isim" class="form-control" id="formGroupExampleInput" placeholder="Adinizi Giriniz" #ad="ngModel" required>
                                <div *ngIf="ad.errors && (ad.dirty || ad.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!ad.errors.required">
                                    Ad Bos Birakilamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <label for="formGroupExampleInput2">DOGUM TARIHI</label>
                                <input type="date" [ngModel]="dtarihi" name="dtarihi" class="form-control" id="formGroupDate" #dtarih="ngModel" required>
                                <div *ngIf="dtarih.errors && (dtarih.dirty || dtarih.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!dtarih.errors.required">
                                    Dogum Tarihi Bos Birakilamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">TELEFON NUMARASI</label>
                                <input type="number" [ngModel]="contact" name="contact" class="form-control" id="formGroupExampleInput2" placeholder="" #cont="ngModel" required>
                                <div *ngIf="cont.errors && (cont.dirty || cont.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!cont.errors.required">
                                    Telefon Bos Birakilamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">E-POSTA</label>
                                <input type="email" name="eposta" [ngModel]="eposta" class="form-control" id="formGroupExampleInput2" placeholder="E-Posta" #eps="ngModel" required>
                                <div *ngIf="eps.errors && (eps.dirty || eps.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!eps.errors.required">
                                    E-Posta Bos Birakilamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                  <label for="">SEHIR</label>
                                  <select id="" name="sd" class="form-control" [ngModel]="sd" (ngModelChange)="onChange($event)">
                                    <option  *ngFor="let city of cities.data" [value]="city.CITY_ID">{{city.CITY_NAME}}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="">IS KATEGORINIZ</label>
                                  <select id="" name="jobcat" class="form-control" [ngModel]="is" (ngModelChange)="onJobChange($event)">
                                    <option  *ngFor="let jbct of jobcategory.data" [value]="jbct.CATEGORY_ID">{{jbct.CATEGORY_NAME}}</option>
                                  </select>
                              </div>
                              <div class="form-group row">
                                   <div class="col-xs-6"> 
                                      <label for="">BIRINCIL MESLEK</label>
                                      <select id="" class="form-control" name="meslek" [ngModel]="meslek">
                                        <option  *ngFor="let jbs of jobs.data" [value]="jbs.ID">{{jbs.JOB_NAME}}</option>
                                      </select>
                                    </div>
                                    <div class="col-xs-6">
                                      <label for="">TECRUBE</label>
                                      <input type="text" name="tecrube" [ngModel]="tecrube" class="form-control" id="formGroupExampleInput2" placeholder="Tecrube" #tecr="ngModel" required>
                                      <div *ngIf="tecr.errors && (tecr.dirty || tecr.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                        <div [hidden]="!tecr.errors.required">
                                          Tecrube Bos Birakilamaz!
                                        </div>
                                        
                                      </div>
                                    </div>
                              </div>
                              <div class="form-group">
                                  <label for="">ASKERLIK DURUMU</label>
                                  <select id="" class="form-control" name="askerlik" [ngModel]="askerlik">
                                    <option *ngFor="let mlt of military.data" [value]="mlt.TYPE">{{mlt.STATUS}}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">PAROLA</label>
                                <input type="password" name="parola" [ngModel]="parola" class="form-control" id="formGroupExampleInput2" placeholder="Parola" #par="ngModel" required>
                                <div *ngIf="par.errors && (par.dirty || par.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!par.errors.required">
                                    Parola Bos Birakilamaz!
                                  </div>
                                  
                                </div>

                              </div>

                              <div class="form-group txt">
                                <label class="form-check-label">
                                  <input class="form-check-input" [ngModel]="gizlilik" type="checkbox" style="font-size:600px;" name="gizlilik" > SMS Almak Istemiyorum.
                                </label>
                              </div>
                              <div class="form-group">
                                <label class="form-check-label txt">
                                  <input class="form-check-input" type="checkbox" style="font-size:600px;" name="sozles" [(ngModel)]="sozles"> <a href="http://cepteisvar.cboxpay.com/agreements/hizmet.html" target="_blank">Hizmet</a> &amp; <a href="http://cepteisvar.cboxpay.com/agreements/guvenlik.html" target="_blank">Gizlilik</a> &amp; <a href="http://cepteisvar.cboxpay.com/agreements/mesafeli.html" target="_blank">Mesafeli Satis</a> Sozlesmelerini Kabul Ediyorum
                                </label>
                                <div *ngIf="sozlesmeerror" class="alert alert-danger" style="margin-top: 5px;">
                                  <div >
                                    Guvenlik Sozlesmesini Kabul Etmelisiniz!
                                  </div>
                                </div>
                                
                              </div>
                              
                          </div>
                          <div class="col-xs-6" style="padding: 0px 50px;">
                              <div class="form-group">
                                <label for="formGroupExampleInput">SOYAD</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" [ngModel]="soyad" placeholder="Soyadinizi Giriniz" name="soyad" #soad="ngModel" required>
                                <div *ngIf="soad.errors && (soad.dirty || soad.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!soad.errors.required">
                                    Soyad Bos Birakilamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                  <label for="">CINSIYET</label>
                                  <select id="" class="form-control" name="cinsiyet" [ngModel]="cinsiyet">
                                    <option  *ngFor="let gndr of genders.data" [value]="gndr.TYPE_ID">{{gndr.GENDER}}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">ADRES</label>
                                <input type="text" name="adres" class="form-control" [ngModel]="adres" id="formGroupExampleInput2" placeholder="" #res="ngModel" required>
                                <div *ngIf="res.errors && (res.dirty || res.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!res.errors.required">
                                    Adres Bos Birakilamaz!
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="form-group">
                                  <label for="">EGITIM DURUMU</label>
                                  <select id="" class="form-control" name="educate" [ngModel]="educate">
                                    <option *ngFor="let edu of education.data" [value]="edu.TYPE_ID">{{edu.EDUCATION_LEVEL}}</option>
                                    
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="">ILCE</label>
                                  <select id="" class="form-control" name="ilce" [ngModel]="ilce">
                                    <option  *ngFor="let st of ct.data" [value]="st.COUNTY_ID">{{st.COUNTY_NAME}}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="">DIGER MESLEK</label>
                                  <select id="" class="form-control" name="meslek2" [ngModel]="meslek2">
                                    <option [value]="0">Seciniz</option>
                                    <option  *ngFor="let jbs of jobs.data" [value]="jbs.ID">{{jbs.JOB_NAME}}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">EHLIYET DURUMUNUZ</label>
                                <select id="" class="form-control" name="ehliyet" [ngModel]="ehliyet">
                                    <option *ngFor="let drv of driver.data" [value]="drv.ID">{{drv.LICENSE_TYPE}}</option>
                                    
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="formGroupExampleInput2">PAROLA TEKRAR</label>
                                <input type="password" name="parola2" [ngModel]="parola2" class="form-control" id="formGroupExampleInput2" placeholder="Parolanizi Tekrar Giriniz" #par2="ngModel" required>
                                <div *ngIf="par2.errors && (par2.dirty || par2.touched)" class="alert alert-danger" style="margin-top: 5px;">
                                  <div [hidden]="!par2.errors.required">
                                    Parola Bos Birakilamaz!
                                  </div>
                                  
                                </div>
                              </div>
                          </div>
                          
                        </form>

                        <div class="row text-center">
                            <div class="col-xs-12">
                                <button (click)="onSubmit(f)" class="btn btn-default" style="background: #fff100; border-color: #fff100; padding: 10px 50px;" data-toggle="modal" data-target="#somemod" [disabled]="!f.form.valid">KAYIT OL</button>
                                <h5 style="color: #747574;">Zaten hesabiniz var mi?<a class="btn btn-default" style="border:none; background: #f7f7f7;" href>Giris Yapin</a> </h5> 
                            </div>
                        </div>
                    
            </div>
          </form>
        </div>
        <div class="col-xs-1"></div>
    </div>
</section>
	</div>
</div>

<!-- Modal -->
<div id="somemod" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">CEP TELEFONU DOGRULAMA</h4>
      </div>
      <div class="modal-body">
        <p>Cep Telefonu numaranızda değişiklik yapmak istediğiniz için yeni numaranızı
        doğrulamanız gerekmektedir. Lütfen vermiş olduğunuz yeni telefona gönderilen 
        kodu aşağıdaki bölüme giriniz.</p>
        <form #kod="ngForm"  novalidate>
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label" style="margin-top: 5px;">KOD:</label>
            <div class="col-xs-8">
              <input class="form-control" type="text" name="validatekod" [ngModel]="validatekod" placeholder="Kodu giriniz" style="border-radius:0px;">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <div class="btn-group">

          <a type="button" class="btn btn-default isveren" style="min-width: 100px;" data-dismiss="modal">VAZGEC</a>
          <a type="button" class="btn btn-default calisan" style="min-width: 100px;" data-dismiss="modal" (click)="validate(kod)">GONDER</a>
        
        </div>
      </div>
    </div>

  </div>
</div>
<footer-comp></footer-comp>