<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
    <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
        <div class="col-xs-12">
            <h3>İŞ VEREN GİRİŞ</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> İş Veren Giriş</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="login">
                <form>
                  <div class="alert alert-danger" *ngIf="wrong">
                    <strong>Yanlış Kullanıcı Adı ya da Parola!</strong> Lütfen Bilgileri Kontrol Ediniz
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput"><h4>E-POSTA</h4></label>
                    <input type="email" [(ngModel)]="model.username" name="model.username" class="form-control" id="formGroupExampleInput" placeholder="E-Mail">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2"><h4>PAROLA</h4></label>
                    <input type="password" [(ngModel)]="model.password" name="model.password" class="form-control" id="formGroupExampleInput2" placeholder="Parola Giriniz">
                  </div>
                  <div class="form-group">
                    <!--<label class="form-check-label">
                      <input class="form-check-input" type="checkbox" style="margin: 10px 4px 0;"> <h5 style="float:right;">Beni Hatırla</h5>
                    </label> -->
                    <a class="btn btn-default" style="float: right; background: #f7f7f7; border: none;" routerLink="/reset"><h5>Şifremi Unuttum</h5></a>
                  </div>
                  <div class="row text-center">
                    <div class="col-xs-12">
                        <a (click)="login()" class="btn btn-default" style="background: #fff100; border-color:#fff100; min-width:100px;"><h5>GİRİŞ</h5></a>
                    </div>
                    <div class="col-xs-12">
                        <h5 style="font-size: 12px; color: #747574;">Henüz kayıt olmadıysanız burdan <a href routerLink="/isveren-kayit" style="text-decoration:none;"><strong>Kayıt Olun</strong></a></h5>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
</section>
	</div>

</div>


<footer-comp></footer-comp>