/* You can add global styles to this file, and also import other style files */
body{
	font-family: Myriad Pro;
	font-size: 12px;

    margin: 0 auto;
}
.homeselect .list-filter input{
	color: black !important;
}
.homeselect .pure-checkbox label{
	font-weight: 100 !important;
	font-size: 13px !important;
}
.selected-list button span{
	/*white-space: nowrap !important;
    
    text-overflow: ellipsis !important;*/
    /*max-width: 180px !important;*/
    /*white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

form select{
	-webkit-appearance: menulist-button;
}

.selected-list button span span{

	white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeselect .selected-list button span span{

	white-space: nowrap;
    width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeselect .c-token .c-label{

	white-space: nowrap;
    width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-list .c-token .c-label{

	white-space: nowrap;
    width: 11em;
    overflow: hidden;
    text-overflow: ellipsis;
}



.selected-list button{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.c-btn{
	text-align: left !important;
	color: black;
	border-radius: 0px !important;
    box-shadow: none !important;
}
.c-token{
	background: #fff200 !important;
	color: black !important;
}

.fa-angle-down, .fa-angle-up{
	top: inherit;
}
.file-upload .upload span{
	color: black !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.slick-list {
    min-height: 380px !important;
  }
  .slick-prev:before, .slick-next:before { 
	font-family: FontAwesome; 
	font-size: 25px; line-height: 1; 
	color: black; opacity: 0.75; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }

.slick-prev {
    left: -50px;
}
.slick-next {
    right: -35px;
}
.firmalar .slick-prev:before, .firmalar .slick-next:before{
	font-family: FontAwesome; 
	border: 1px solid black;
	padding: 10px 10px;
	font-size: 10px; line-height: 1; 
	color: black; opacity: 0.75; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}
#firms .slick-slide {
    height: 80%;
 
}
#firms .slick-next, #firms .slick-prev {
    top: 30%;
    
}
#firms .slick-list {
    min-height: 100px !important;
    max-height: 100px !important;
}
header{
}

.glyphicon-star{
	color: yellow;
} 
.kimler{
	background-color: white;
	min-width: 1000px;
}
.kimler .container{
	background-color: white;
}
.duyurular{
	background-color: white;
	min-width: 1000px;
}
.duyurular .container{
	background-color: white;

}
.navbar{
	min-height: 0px;
	color: white;
	border-radius: 0px;
	font-size: 10px;
}

.navbar-default{
	background-color: black;
	border-color: black;
}
.left-panel{
	float: left;
}
.left-panel a, .left-panel a:active, .left-panel a:hover{
	text-decoration: none;
	color: white;
	padding: 0px 10px;
}
.right-panel a, .right-panel a:active, .right-panel a:hover{
	text-decoration: none;
	color: white;
	padding: 0px 10px;
}
.right-panel{
	float: right;
}
#menutab .container-fluid{

}
.navbar{
	margin-bottom: 5px;
}

/* Menu Tab */
/* Menu Tab */

#menutab .tab a{
	border: none;
	background-color: white;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.isveren, .isveren:hover, .isveren:active{
	background-color: black;
	color: #fff200;
	border: #fff200;
}
.calisan, .calisan:hover, .calisan:active{
	background-color: #fff200;
	color: black;
	border: black;
}
.isveren a{
	color: #fff200;
}
.calisan a{
	color: black;
}
.isveren a, .calisan a{
	text-decoration: none;
}
#menutab .tab a{
	border: none;
	background-color: white;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.isveren, .isveren:hover, .isveren:active{
	background-color: black;
	color: #fff200;
	border: #fff200;
}
.calisan, .calisan:hover, .calisan:active{
	background-color: #fff200;
	color: black;
	border: black;
}
.isveren a{
	color: #fff200;
}
.calisan a{
	color: black;
}
.isveren a, .calisan a{
	text-decoration: none;
}

.tab, .but{
	padding: 0px;
	padding-top: 10px;
}
.btn{
	border-radius: 0px;
	font-size: 12px;
}
#menutab .tab a:active{
	color: #fff200 !important;
	border-bottom: 1px solid #fff200;
}

/* FOOTER  */

footer textarea{
	border-radius: 0px !important;
	background-color: #161b1e !important;
	border-color: #161b1e !important;
}
footer{
	 /* Footer yerine containera ver */
	width: 100%;
	background-color: black;
	font-size: 12px;
}

footer .duyuru input,footer .duyuru span{
	border-radius: 0px;
}

footer .duyuru h4{
	color: #fff200;
	font-size: 14px;

}
footer .social a{
	padding: 10px 2px;
    border-radius: 20px;
    border: 1px solid #fff200;
    color: white;
}
footer .duyuru .input-group, footer .duyuru .row, footer .duyuru input, footer .duyuru span{
	font-size: 12px;
}
.social .row{
	padding: 10px 0px;
}
.callus{
	float: right;
	color: white;
	width: 100%;
}
.callus h3{
	margin: 0px 0px;
}
footer .acik p{
	color: white;
	margin: 0px 0px 5px 0px;
	font-size: 11px !important;
}
footer .aciklama h5{
	color: #fff100;
	font-size: 14px;
}
.aciklama .crumbs{
	margin-top: 20px;
}
.aciklama .crumbs a{
	text-decoration: none;
	color: white;
	white-space: nowrap;
}
.aciklama .input-group span, .aciklama .input-group input{
	border-radius: 0px;
}
.aciklama .input-group input{
	border-color: #161b1e !important;
	background-color: #161b1e;
	color: white;
}
.aciklama .form-elem{
	border-color: #161b1e !important;
	border-radius: 0px;
	margin: 10px 0px;
	background-color: #161b1e !important; 
}

.file-preview {
    border-radius: 5px;
    border: 1px solid #f7f7f7 !important;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.fileinput-remove{
	display: none;
}
.fileinput-upload{
	display: none;
}
.kv-fileinput-caption{
	display: none !important;
}
.btn-file, .btn-file:hover, .btn-file:active{
	color: black;
	background: #fff200;
	border-color: #fff200;
}
.register{
	background: #f7f7f7;
	padding: 30px 0px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 2px solid #fff200;
	border-bottom: 2px solid #fff200;
}
.register .form-group{
	margin-top: 10px;
}
.register .form-group input, .register .form-group select{
	border-radius: 0px;
}
.register label{
	font-weight: 600;
}
.register .txt label{
	font-size: 11px;
	font-weight: 100;
}
.file-caption-main{
	float: left;
    text-align: left;
    margin-top: 96px;
}
.file-input{
	display: inline-flex;
	    padding-left: 20px;
}
.btn:active, .btn-default:active{
	border: none;
	text-transform: none;
	box-shadow: none;
}
/* Pagination Buttons */

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    /* z-index: 3; */
    color: #3e3e3e;
    cursor: default;
    background-color: #fff200;
    border-color: #fff200;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff200;
    text-decoration: none;
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.pagination>li>a{
	border-radius: 20px;
    margin-left: 10px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #fff200;
    background-color: #3e3e3e;
    border-color: #3e3e3e;
}
.owl-carousel {
    margin-left: auto !important;
    margin-right: auto !important;
}
.owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav [class*=owl-]:hover, .owl-theme .owl-nav [class*=owl-]:active{
	background: black;
}
.owl-next{
	position: absolute;
    right: -60px;
    top: 40%
}
.owl-prev{
	position: absolute;
    left: -60px;
    top: 40%
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 20px !important; 
    border-bottom-right-radius: 20px !important;
        /* z-index: 3; */
    color: #3e3e3e !important;
    background-color: #fff200 !important;
    border-color: #fff200 !important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
        /* z-index: 3; */
    color: #3e3e3e !important;
    background-color: #fff200 !important;
    border-color: #fff200 !important;
}
.image[_ngcontent-c3]{
	width: 200px !important;
	height: 200px !important;
}
.image{
	width: 200px !important;
	height: 200px !important;
	margin: 2px !important;
}
.image-container{
	padding: 0px !important;
}
.clear{
	display: none !important;
}
.upload{
	margin: 0 30px !important;
	background-color: #fff200 !important;
}

/* NGX PAGINATION START */


.ngx-pagination .current{
	padding: 5px 10px !important;
    border-radius: 16px !important;
    background-color: #fff100 !important;
    color: #010101 !important;
}
/* NGX PAGINATION END */


/* NOTIFICATION*/
.list-group-item input{
	top: 10px !important;
}
.list-group-item .sepbuton{
	margin: 0px !important;
}

.headerbuttons a{
	color: white;
	background-color: black !important;
}
.headerbuttons a:hover{
	color: white !important;
	background-color: black !important;
}

.headBanner{
	position: sticky;
}
.headBanner .owl-dots .owl-dot{
	border: 1px solid black;
    background: black;
}
.headBanner .owl-dots .owl-dot span{
    background: white;
}
.headBanner .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #fff200;
}
.headBanner .owl-dots{
	margin-top: -30px !important;
    position: inherit;
}

.centeredOverlay {
    position: absolute;
    /*dim the background*/
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:black;
    text-align: center;
}
.parentLoaderDiv {
    position: relative;
}

#products .spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

 #products .double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.sc-center{
	width: 4em !important;
    height: 4em !important;
    top: 0 !important;
}



.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.http .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 0, 0, 0.98);
    border-right: 6px solid rgba(0, 0, 0, 0.98);
    border-bottom: 6px solid rgba(0, 0, 0, 0.98);
    border-top: 6px solid rgba(221, 234, 14, 0.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

/*.c-btn span:nth-child(2){
  display: none;
} */

.cbox .c-btn span:nth-child(2){
  display: none;
}

    
.thumbnail>img, .thumbnail a>img {
    min-height: 250px !important;
}
.sc-background {
    
    background-color: rgba(255,255,255,1) !important;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    opacity: 1 !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}