.hakkimizda{
	width: 600px;
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-align: left;
  color: #999999;
}
.hakkimizda2{
	margin-top: 40px;
	width: 900px;
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-align: left;
  color: #999999;
}