<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
    <div class="container">
    	<header-comp></header-comp>
    	<section id="main_content" style="margin-top: -20px;">
            <div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
                <div class="col-xs-12">
                    <h3>HAKKIMIZDA</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12">
                    <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> Hakkimizda</a>
                </div>
            </div>

            <!-- CONTENT -->

            <div class="row">
                
                <div class="col-xs-12">
                    <div class="" style="margin-top: 80px; padding-left: 10%;">
                        <!-- Media top -->
                        <div class="media">
                          <div class="media-left media-top">
                            <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" class="media-object" style="width: 285px; height: 176px; background-color: #e1e1e1;">
                          </div>
                          <div class="media-body">
                            <p class="hakkimizda">Martı Kurumsal Hizmetler olarak Seçme Yerleştirme 
                            alanında profesyonel kadromuzla, güncel mülakat 
                            tekniklerini ve kişilik envanterlerini uygulayarak, 
                            firmalarımızın talep ettiği tüm mavi yaka ve beyaz yaka 
                            pozisyonlarıyla birlikte, dönemsel ve/veya proje bazlı iş
                             gücünün istihdam edilmesine yönelik hizmet 
                            vermekteyiz.</p>
                          </div>
                        </div>
                        <p class="hakkimizda2">Martı Kurumsal Hizmetler, fark yarattığına inandığımız ve istihdamın önündeki erişilebilirlik engelini aşmaya yönelik tasarlanan www.izmirinsankaynaklari.com adlı internet portalı ile 
                        işverenlerle, iş arayanları ortak bir platformda buluşturmayı hedeflemektedir.</p>
                        <p class="hakkimizda2">Martı Kurumsal Hizmetler; İŞKUR denetiminde,17.02.2014 tarihli 638 no’lu Özel İstihdam Bürosu lisansı ile hizmet vermektedir.4904 sayılı Türkiye İş Kurumu Yönetmeliği gereğince, iş arayanlardan ücret alınması ve menfaat temin edilmesi yasaktır.</p>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
<footer-comp></footer-comp>