<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
			<div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
		        <div class="col-xs-12">
		            <h3>CALISAN ARA</h3>
		        </div>
		    </div>
		    <div class="row text-center">
		        <div class="col-xs-12">
		            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> Calisan Ara</a>
		        </div>
		    </div>
		    <div class="row calisanara text-center">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="text-center">DETAYLI ARAMA</h4>
                    <img class="img img-responsive" style="margin: 0 auto; width: 50%;" src='assets/images/HeaderBottomLine.png'>
                </div>
            </div>
            <div class="container-fluid" style="padding: 10px 20px 0px 0px;">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img img-responsive" style="margin: 0 auto;" src='assets/images/bannerr.png'>
                    </div>
                </div>
                <!-- Form Starts -->
                <div class="row filtre">
                    <div class="col-xs-12">
                        <h4 class="text-center">FILTRELER</h4>
                        <img class="img img-responsive" style="margin: 0 auto; width: 50%;" src='assets/images/HeaderBottomLine.png'>
                    </div>
                    <div class="col-xs-12" style="margin-top: 20px;">
                        <form>
                            <div class="form-group">
                                <select id="" class="form-control">
                                  <option>Meslek Seciniz</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="" class="form-control">
                                  <option>Sehir Seciniz</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="" class="form-control">
                                  <option>Ilce Seciniz</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="" class="form-control">
                                  <option>Cinsiyet Seciniz</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <select id="" class="form-control">
                                      <option>Yas Araligi</option>
                                      <option>2</option>
                                      <option>3</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6">
                                    <select id="" class="form-control">
                                      <option>Yas Araligi</option>
                                      <option>2</option>
                                      <option>3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <select id="" class="form-control">
                                  <option>Egitim Durumu Seciniz</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="" class="form-control">
                                  <option>Engelli Durumu Seciniz</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="" class="form-control">
                                  <option>Mesleki Yeterlilik Sertifikasi Seciniz</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="form-group" style="padding: 10px 20px 40px 20px;">
                                <a href class="btn btn-default col-xs-6 isveren">TEMIZLE</a>
                                <a href class="btn btn-default col-xs-6 calisan">ARA</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row gozde">
                    <div class="col-xs-12">
                        <h4 class="text-center">GOZDE MESLEKLER</h4>
                        <img class="img img-responsive" style="margin: 0 auto; width: 50%;" src='assets/images/HeaderBottomLine.png'>
                    </div>
                    <div class="col-xs-12 row" style="text-align:left; margin: 20px 0px; padding: 0px 0px;">
                        <div class="col-xs-12">
                            <input class="form-check-input" type="checkbox">
                            
                            <label class="form-check-label">
                               Bilgisayar Muhendisi
                            </label>
                            
                        </div>
                        <div class="col-xs-12">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                               Cevre Muhendisi
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                               Muhasebeci
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                               Asci
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                               Marangoz
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                               Boyaci
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                               Mekanik Araba Tamircisi
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="text-center">ARAMA SONUCLARI</h4>
                        <img class="img img-responsive" style="margin: 0 auto; width: 25%;" src='assets/images/HeaderBottomLine.png'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- CONTAINER GELECEK -->
                        <div class="container-fluid" style="padding: 10px 20px 0px 0px;">
    <div class="well well-sm">
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>Liste Gorunumu</a> 
            <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>
                Tablo Gorunumu
            </a>
            <a routerLink="/meslek-haritasi" id="map" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>
                Map Gorunumu
            </a>
        </div>
    </div>
    <div id="products" class="row list-group" style="margin: 0px;">
        <ul class="row list" style="padding: 0px 0px;">
        <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center" >
                            
                                <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div></li>
        <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div></li>
        <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div></li>
        <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div></li>
        <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div></li>
        <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div></li>
        <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
    </div></li>
    <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
    </div></li>
    <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
    </div></li>
    <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
    </div></li>
    <li><div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <div class="row" style="margin: 0px 0px 0px 0px;">
                        <div class="col-xs-12 ratings-widget">
                            <div  style="float: right;">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                        <h4 class="group inner list-group-item-heading">
                        Uretim Hatti Sefi</h4>
                        <h5 class="group inner list-group-item-heading">
                        Haydar G.</h5>
                        <div class="" style="margin-bottom: 20px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            Mesleki Yeterlilik
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Istanbul-Bagcilar
                        </div>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                        <div class="group inner list-group-item-text text-center">
                            
                                    <div style="margin: 0 auto; display: table; ">
                                    <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" routerLink="/is-arayan-profil">PROFILI GORUNTULE</a>
                                    <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
    background: #fff200; border-color: #fff200;" href="">SMS GONDER</a>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
    </div></li>
    </ul>
    <ul class="col-xs-12 pagination" style="padding-left: 40%;"></ul>
</div>
                    </div>
                </div>
            </div>

    </div>

    

</div>
		</section>
	</div>
</div>



<footer-comp></footer-comp>