<div style="min-width: 1120px; max-width: 1400px; margin:0 auto;">
	<div class="container">
		<header-comp></header-comp>
		<section id="main_content" style="margin-top: -20px;">
			<div class="row text-center" style="background-color: #f7f7f7; min-height: 70px; margin: 0px 0px;">
		        <div class="col-xs-12">
		            <h3>PERSONEL ARAMA</h3>
		        </div>
		    </div>
		    <div class="row text-center">
		        <div class="col-xs-12">
		            <a class="btn btn-default" style="background-color: #f7f7f7; margin-top: -15px;">Anasayfa >> Personel Arama</a>
		        </div>
		    </div>
		    <div class="row calisanara text-center">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="text-center">DETAYLI ARAMA</h4>
                    <img class="img img-responsive" style="margin: 0 auto; width: 50%;" src='assets/images/HeaderBottomLine.png'>
                </div>
            </div>
            <div class="container-fluid" style="padding: 10px 20px 0px 0px;">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img img-responsive" style="margin: 0 auto;" src='assets/images/bannerr.png'>
                    </div>
                </div>
                <!-- Form Starts -->
                <div class="row filtre">
                    <div class="col-xs-12">
                        <h4 class="text-center">ARAMA</h4>
                        <img class="img img-responsive" style="margin: 0 auto; width: 50%;" src='assets/images/HeaderBottomLine.png'>
                    </div>
                    <div class="col-xs-12" style="margin-top: 20px;">
                        <form #searchForm="ngForm">
                            <div class="form-group">
                                <div class="button-group">
                                    <angular2-multiselect [data]="jobCategoryList" [(ngModel)]="selectedjobCategory" 
                                        [settings]="jobCategorySettings" 
                                        (onSelect)="onJobCategorySelect($event)" name="selectedjobCategory">
                                    </angular2-multiselect>
                                    
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="button-group">
                                    <angular2-multiselect [data]="jobList" [(ngModel)]="selectedJob" 
                                        [settings]="jobSettings" 
                                        (onSelect)="onJobSelect($event)" 
                                        (onDeSelect)="OnJobDeSelect($event)"
                                        (onSelectAll)="onJobSelectAll($event)"
                                        (onDeSelectAll)="onJobDeSelectAll($event)" name="selectedJob">
                                    </angular2-multiselect>
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="button-group">
                                    <angular2-multiselect [data]="cityList" [(ngModel)]="selectedCity" 
                                        [settings]="citySettings" 
                                        (onSelect)="onCitySelect($event)"  name="selectedCity">
                                    </angular2-multiselect>
                                    
                                </div>
                            </div>
                            <!--<div class="form-group">
                                
                              <select class="form-control " id="inlineFormCustomSelect" required [(ngModel)]="il" name="il">
                                <option [value]="-10" disabled hidden>Şehir Seçiniz</option>
                                <option [value]="city.CITY_ID" *ngFor="let city of cities.data">{{city.CITY_NAME}}</option>
                              </select>
                              
                            </div>-->
                            <hr>
                            <div class="form-group" style="padding: 10px 20px 40px 20px;">
                                <button href class="btn btn-default col-xs-6 isveren" style="color:#fff200;" (click)="clearSearch()">TEMİZLE</button>
                                <button class="btn btn-default col-xs-6 calisan" (click)="searchPerson(searchForm)">ARA</button>
                            </div>
                            <hr>
                        </form>
                            <div class="col-xs-12">
                                <h4 class="text-center">FİLTRELER</h4>
                                <img class="img img-responsive" style="margin: 0 auto; width: 50%;" src='assets/images/HeaderBottomLine.png'>
                            </div>

                            <hr>
                            <hr>
                            
                            <!--
                            <div class="form-group">
                                
                                <select id="" class="form-control" name="cinsiyet" [ngModel]="cinsiyet" (ngModelChange)="onChangeGender($event)">
                                    <option [value]="4">Seçiniz</option>
                                    <option  *ngFor="let gndr of genders.data" [value]="gndr.TYPE_ID">{{gndr.GENDER}}</option>
                                </select>
                            </div>
                            -->
                            <div class="form-group">
                                <div class="button-group">
                                    <angular2-multiselect [data]="genderList" [(ngModel)]="selectedGender" 
                                        [settings]="genderSettings" 
                                        (onSelect)="onGenSelect($event)" 
                                         name="selectedGender">
                                    </angular2-multiselect>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <div class="col-xs-12" style="padding: 0px;">
                                        <input class="form-control" name="kucukyas" [ngModel]="kucukyas" (ngModelChange)="setAgeLow($event)" type="number" [value]="kucuk" id="example-number-input" style="border-radius: 0px;" placeholder="Küçük Yaş">
                                    </div>
                                     
                                </div>
                                <div class="form-group col-xs-6">
                                    <div class="col-xs-12" style="padding: 0px;">
                                        <input class="form-control" name="buyukyas" [ngModel]="buyukyas" (ngModelChange)="setAgeHigh($event)" type="number" [value]="buyuk" id="example-number-input" style="border-radius: 0px;" placeholder="Büyük Yaş">
                                    </div>
                                     
                                </div>
                            </div>


                            
                            <div class="form-group">
                                <div class="button-group">
                                    <angular2-multiselect [data]="educationList" [(ngModel)]="selectedEducation" 
                                        [settings]="educationSettings" 
                                        (onSelect)="onEduSelect($event)" 
                                        (onDeSelect)="onEduDeSelect($event)"
                                        (onSelectAll)="onEduSelectAll($event)"
                                        (onDeSelectAll)="onEduDeSelectAll($event)" name="selectedEducation">
                                    </angular2-multiselect>
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="button-group">
                                    <angular2-multiselect [data]="militaryList" [(ngModel)]="selectedMilitary" 
                                        [settings]="militarySettings" 
                                        (onSelect)="onMilitarySelect($event)" 
                                        (onDeSelect)="onMilitaryDeSelect($event)"
                                        (onSelectAll)="onMilitarySelectAll($event)"
                                        (onDeSelectAll)="onMilitaryDeSelectAll($event)">
                                    </angular2-multiselect>
                                    
                                </div>
                            </div>
                            
                            
                            

                            <div class="form-group">
                                <div class="button-group">
                                    <angular2-multiselect [data]="driverList" [(ngModel)]="selectedDrivers" 
                                        [settings]="driverSettings" 
                                        (onSelect)="onDriverSelect($event)" 
                                        (onDeSelect)="OnDriverDeSelect($event)"
                                        (onSelectAll)="onDriverSelectAll($event)"
                                        (onDeSelectAll)="onDriverDeSelectAll($event)">
                                    </angular2-multiselect>
                                    
                                </div>
                            </div>

                            

                            <div class="form-group" style="padding: 10px 20px 40px 20px;">
                                <button href class="btn btn-default col-xs-6 isveren" style="color:#fff200;" (click)="clearFilter()">TEMİZLE</button>
                                <button class="btn btn-default col-xs-6 calisan" (click)="makeFilter()">FİLTRELE</button>
                            </div>
                            
                        
                    </div>
                </div>
                
            </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <!--<div class="col-xs-12">
                        <h4 class="text-center">ARAMA SONUCLARI</h4>
                        <img class="img img-responsive" style="margin: 0 auto; width: 25%;" src='assets/images/HeaderBottomLine.png'>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- CONTAINER GELECEK -->
                        <div class="container-fluid" style="padding: 10px 20px 0px 0px;">
                            <div class="well well-sm">
                                <div class="btn-group" *ngIf="!model.length">
                                    <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                                    </span>Liste Görünümü</a> 
                                    <a href="#" id="grid" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-th"></span>
                                        Tablo Görünümü
                                    </a>
                                    <!--<a routerLink="/meslek-haritasi" id="map" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-th"></span>
                                        Map Gorunumu
                                    </a>-->
                                </div>
                                <div class="btn-group" *ngIf="model.length">
                                    <a (click)="createSepet()" id="sepet" class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
                            background: #fff200; border-color: #fff200;"><span class="glyphicon glyphicon-plus">
                                    </span>SEPETE EKLE</a>
                                </div>
                            </div>
                            <div id="products" class="row list-group" style="margin: 0px;" *ngIf="profiles.data">
                                <ul class="row list" style="padding: 0px 0px;">
                                <li *ngFor="let profile of profiles.data | paginate: { itemsPerPage: 9, currentPage: p }"><div class="item  col-xs-4 col-lg-4">
                                    <input *ngIf="islogged" type="checkbox" style="top: 0px; left: 18px; position: absolute;" (change)="addToModel($event, profile)">
                                    <div class="thumbnail" style="">
                                        <img class="group list-group-image" src="{{profile.PHOTO_URL}}" onerror="this.src='/assets/images/resimyok.png';" style="max-height:170px; min-height:170px; width: 100%;" />
                                        <div class="caption">
                                            <div class="row" style="margin: 0px 0px 0px 0px;">
                                                
                                                <h4 class="group inner list-group-item-heading" style="padding: 0px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                                                {{profile.PRIMARY_JOB}}</h4>
                                                <h5 class="group inner list-group-item-heading" style="padding: 0px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                                                {{profile.NAME}}</h5>
                                                <div class="" style="margin-bottom: 20px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                                                    <i *ngIf="profile.CERTIFICATE===0" class="fa fa-bookmark-o" aria-hidden="true" style="color: green !important;"></i>
                                                    <i *ngIf="profile.CERTIFICATE===1" class="fa fa-bookmark-o" aria-hidden="true" style="color: black !important;"></i>
                                                    Mesleki Yeterlilik
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    {{profile.CITY_NAME}}-{{profile.COUNTY_NAME}}
                                                </div>
                                                <p *ngIf="profile.DESCRIPTION!==0" class="group inner list-group-item-text" style="padding: 0px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                                                    {{profile.DESCRIPTION}}</p>

                                                <p *ngIf="profile.DESCRIPTION===0" class="group inner list-group-item-text" style="padding: 0px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                                                Açıklama Yok</p>

                                                <div class="group inner list-group-item-text text-center" >
                                                    
                                                        <div style="margin: 0 auto; display: table; ">
                                                            <a class="btn btn-success btn-group-lg" style=" width: 106px; font-size: 9px; border-radius: 0px;  color: white; background: black; border-color:black; float: left;" (click)="canSeeProfile(profile.USER_ID)" >PROFİLİ GÖRÜNTÜLE</a>
                                                            <a class="btn btn-success btn-group-lg" style="width: 106px; font-size: 9px; border-radius: 0px;  color: black; float: left;
                            background: #fff200; border-color: #fff200;" (click)="directSms(profile)">SMS GÖNDER</a>
                                                        </div>
                                                        
                                                </div>
                                            </div>
                                            <!--
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <p class="lead">
                                                        $21.000</p>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                                </div>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </div></li>
                                
                            </ul>
                            <ul class="col-xs-12 pagination" style="padding-left: 40%;"></ul>
                        </div>
                        <div *ngIf="!profiles.data">
                            <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                              <br>
                              
                              <p><img src="/assets/images/profilenotfound.png" alt=""></p>

                              <h2><i class="fa fa-exclamation-triangle" style="color:red"></i>
                             
                                Böyle bir profil bulunamadı. </h2>
                              <p>Aradığınız Kriterlere Uygun Kayıtlı Kullanıcı Bulunamadı.

                                <br>
                              </p>

                              <p>Lütfen tekrar deneyiniz</p>

                            

                            </div>

                          </div>
                          
                        </div>
                        <div *ngIf="profiles.data">
                            <div class="row" *ngIf="profiles.data.length === 0">
                            <div class="col-md-6 col-md-offset-3 text-center">
                              <br>
                              
                              <p><img src="/assets/images/profilenotfound.png" alt=""></p>

                              <h2><i class="fa fa-exclamation-triangle" style="color:red"></i>
                             
                         Böyle bir profil bulunamadı. </h2>
                              <p>Aradığınız Kriterlere Uygun Kayıtlı Kullanıcı Bulunamadı.

                                <br>
                              </p>

                              <p>Lütfen tekrar deneyiniz</p>

                            

                            </div>

                          </div>
                          
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <pagination-controls (pageChange)="p = $event" nextLabel="İleri" previousLabel ="Geri"></pagination-controls>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>

    

</div>
		</section>
	</div>
</div>



<footer-comp></footer-comp>
